.board {
  display: flex;
  flex-direction: column-reverse;
  border: 5px solid black;
}

.row {
  display: flex;
}

.square {
  width: 50px;
  height: 50px;
  padding: 0.25rem;
  border: 1px solid black;
}

@media only screen and (max-width: 768px) {
  .square {
    width: 30px;
    height: 30px;
  }
}
